<h1 id="ssm-report">SSM Report</h1>
<p>SSM stands for Safety Systems Monitoring and the main goal is undertake all the activities and processes to assure that the systems are operating according to expectations and requirements defined.</p>
<p>Safety performance monitoring and measurement represents the means to verify the safety performance of the systems supervised by SSM and to validate the effectiveness of safety equipments.</p>
<p>SSM must provide the Operational Safety Systems with diagnostic data, so that they can take corrective action in case of incident. Preferably before it becomes apparent to the operations teams or the users of the system.</p>
<p>SSM must provide the Operational Safety Systems team with long term diagnostic data, so that post-mortem incident analysis can be made, usage statistics can be extracted and so that trends can be analyzed for future design considerations.</p>
<p>In a more general approach, the SSM system must assure that the Safety Status of the Operational System is maintained and if not, provide the necessary information to be repaired as soon as possible. This will allow to effectively reduce the risk from an “unacceptable” to an “acceptable” level.</p>
<!-- For PDF split pages in VS Code <div class="page"/> -->
<h2 id="zabbix">Zabbix</h2>
<h3 id="introduction">Introduction</h3>
<p>Zabbix is an enterprise-class open source distributed monitoring solution.</p>
<p>Zabbix is the software that monitors numerous parameters of our network and the health and integrity of servers, virtual machines, applications, services, databases, websites and more. Zabbix uses a flexible notification mechanism that allows users to configure e-mail based alerts for virtually any event. This allows a fast reaction to server problems. Zabbix offers excellent reporting and data visualization features based on the stored data. This makes Zabbix ideal for capacity planning.</p>
<p>Zabbix supports both polling and trapping. All Zabbix reports and statistics, as well as configuration parameters, are accessed through a web-based frontend. A web-based frontend ensures that the status of your network and the health of your servers can be assessed from any location. Properly configured, Zabbix can play an important role in monitoring IT infrastructure. This is equally true for small organizations with a few servers and for large companies with a multitude of servers.</p>
<p>Zabbix is free of cost. Zabbix is written and distributed under the GPL General Public License version 2. It means that its source code is freely distributed and available for the general public.</p>
<p>Zabbix is one of the top tools available today for network monitoring and management.</p>
<p>However, it comes with its own shortcomings as well and we’re going to go over some of the top alternatives to Zabbix below, but first lets see some areas we can improve on.</p>
<p>Some of the possible shortcomings are:</p>
<ul>
<li>Requires quite a bit if tuning to adapt to your environment. But once done, it can be a great tool.</li>
<li>The reporting tool could have been better, especially the reporting export feature.</li>
<li>Uses a lot more resources when compared to other similar monitoring tools.</li>
<li>Database has to be tuned well, otherwise it could large and unwieldy quickly.</li>
<li>SNMP monitoring is a drag on the resources, as a lot of connections are made and used for this task.</li>
<li>There is a steep learning curve associated with it.</li>
</ul>
<h3 id="users-of-zabbix">Users of Zabbix</h3>
<p>Many organizations of different size around the world rely on Zabbix as a primary monitoring platform. The Zabbix side is done with Zabbix 4.0.</p>
<h3 id="role-in-ssm">Role in SSM</h3>
<p>The main role is supervise the AAS, CSAM structure of servers, NAS, UPS, virtual machines, applications, services, databases and websites related with operation and safety equipment.</p>
<h3 id="present-performance-of-zabbix-in-ssm">Present Performance of Zabbix in SSM</h3>
<ul>
<li>617 Hosts</li>
<li>13081 Items</li>
<li>4728 Triggers</li>
<li>88.4 Values updated per second</li>
<li>10 Proxies</li>
</ul>
<h4 id="examples">Examples</h4>
<ul>
<li>Hosts could be a NAS or a Access Point PanelPC.</li>
<li>Items could be Temperature or a free disk space in the NAS or available Memory or free space in C disk in one PC,</li>
<li>Trigger could be the Temperature in the NAS is too high or the free space in the hard disk of the Panel PC is less than 10%.</li>
<li>The system update 88 values each second from the present equipment</li>
<li>Since the system requirements is too high, some hosts are supervised by proxies that deliver later the data to the main server, SSM</li>
</ul>
<div class="page"/>

<h2 id="tig-stack">TIG Stack</h2>
<h3 id="history">History</h3>
<p>TIS stand for Telegraf, InfluxDB and Grafana. The architecture was deployed in 2018 and has been a success in the day by day operations.</p>
<p>The TIS was born because we needed to split the past architecture of Zabbix in 2 sides, one special for Zabbix and the SNMP and other checks done by TIS.</p>
<p><a href="doc/SSM_New_Architecture.pdf">Here it’s the presentation</a></p>
<p>Before the TIG stack, Zabbix was doing all the work.</p>
<figure>
<img src="image/ssm_old_architecture.png" alt="ssm_old_architecture" /><figcaption aria-hidden="true">ssm_old_architecture</figcaption>
</figure>
<p>In 2015 we moved to Zabbix 2.0 LTS and everything was working great, we had set certain parameters in the Zabbix server config file that all seem to be okay. The only issue we were running into is that the database just did keep growing.</p>
<p>We did set our housekeeping retention to 60 days reducing from 1 year retention data trying to reduce the database but the problem persisted. We discovered that with the increment of external checks (scripts used to get data from Oracle DBs) and SNMP Checks the system were slowing a lot.</p>
<p>Effectively, each script requires starting a fork process by the Zabbix server, running many scripts can decrease Zabbix performance a lot as is explained in the <a href="https://www.zabbix.com/documentation/4.0/manual/config/items/itemtypes/external">Zabbix Documentation</a></p>
<p>We decided to split the SSM work in 2 sides, one the principal supervision system made with Zabbix and other with the scripts and SNMP checks done by another stack.</p>
<div class="page"/>

<p>We evaluated 3 popular stacks for doing the job:</p>
<ul>
<li>LOGSTASH - ELASTICSEARCH - KIBANA</li>
<li>PROMETHEUS - NODE EXPORTER - GRAFANA</li>
<li>TELEGRAF - INFLUXDB -GRAFANA</li>
</ul>
<p>We chose InfluxDB for its simplicity, support and performance:</p>
<p><img src="image/influxdb_performance.png" /></p>
<p>And Grafana for several reasons, principally because was used a lot at CERN, performance, integration with InfluxDB and beautiful graphics.</p>
<p><img src="image/why_grafana.png" /></p>
<h2 id="new-system-2018">New system 2018</h2>
<p>The path for the data is explained below but the general architecture that was decided and it’s working today is:</p>
<p><img src="image/path_data_telegraf_grafana.png" /></p>
<p>Adding the new path for the data we achieved several improvements in our system:</p>
<ul>
<li>Let’s Zabbix do “Standard Zabbix”.</li>
<li>Avoid ExternalChecks</li>
<li>Split channels.</li>
<li>Better maintenance and evolutions</li>
<li>Reuse all the old scripts</li>
</ul>
<p>Finally, the system was split and is working like that today:</p>
<p><img src="image/final_architecture_2018.png" /></p>
<h2 id="present-architecture">Present Architecture</h2>
<h3 id="hardware">Hardware</h3>
<p>The hardware structure is based in 3 main systems.</p>
<h4 id="building">212 Building</h4>
<ul>
<li>SSM Server. Proliant G9 with 3 TB in RAID 5.</li>
<li>SSM2 Server. Proliant G8 with 2 TB in RAID 5.</li>
</ul>
<h4 id="it-cern-services">IT CERN Services</h4>
<ul>
<li>OpenStack VM with up to 10 SSM Proxy services.</li>
<li>Oracle Services.</li>
</ul>
<h4 id="cern-network">CERN Network</h4>
<ul>
<li><p>Operators and clients for data</p></li>
<li><p>SNMP Clients. (NAS, Cameras, UPS, etc.)</p></li>
<li><p>Linux Clients. Basically servers.</p></li>
<li><p>Windows Clients. Panel PC, SUSI servers, etc.</p></li>
<li><p>NAS Clients with special requirements.</p>
<figure>
<img src="image/SSM_Hardware_Architecture.png" alt="SSM Hardware Architecture" /><figcaption aria-hidden="true">SSM Hardware Architecture</figcaption>
</figure></li>
</ul>
<h2 id="software">Software</h2>
<p>The software structure is based in 4 subsystems running with CERN CENTOS 7 for the servers:</p>
<h3 id="zabbix-server">Zabbix Server</h3>
<p>Zabbix server is the central process of Zabbix software.</p>
<p>The server performs the polling and trapping of data, it calculates triggers, sends notifications to users. It is the central component to which Zabbix agents and proxies report data on availability and integrity of systems. The server can itself remotely check networked services (such as web servers or ping services) using simple service checks.</p>
<p>The server is the central repository in which all configuration, statistical and operational data is stored, and it is the entity in Zabbix that will actively alert administrators when problems arise in any of the monitored systems.</p>
<p>The functioning of a basic Zabbix server is broken into three distinct components; they are:</p>
<ul>
<li>Zabbix server 4.0 running in CENTOS 7 (CERN)</li>
<li>Web frontend (Zabbix 4.0)</li>
<li>Database storage. MySQL 5.5 running in own server.</li>
</ul>
<p>All of the configuration information for Zabbix is stored in the database, which both the server and the web frontend interact with.</p>
<p>For example, when you create a new item using the web frontend (or API) it is added to the items table in the database. Then, about once a minute Zabbix server will query the items table for a list of the items which are active that is then stored in a cache within the Zabbix server. This is why it can take up to two minutes for any changes made in Zabbix frontend to show up in the latest data section.</p>
<p>The main tasks of the service are:</p>
<ul>
<li>Store metric values</li>
<li>Get data from devices by pulling</li>
<li>Get data from devices by agents</li>
<li>Get data from proxies</li>
<li>Send data to Grafana</li>
<li>Send alarms to e-groups</li>
<li>Make basic supervision graphics</li>
</ul>
<h3 id="telegraf">Telegraf</h3>
<p>Telegraf is a plugin-driven server agent for collecting &amp; reporting metrics, and is with the Zabbix Agent the first piece of the SSM stack. Telegraf has plugins to source a variety of metrics directly from the system it’s running on, pull metrics from third party APIs, SNMP Clients like UPS, Cameras, NAS, etc.</p>
<p>It also has output plugins to send metrics to a variety of other datastores, services, and message queues, including InfluxDB Graphite, OpenTSDB, Datadog, Librato, Kafka, MQTT, NSQ, and many others.</p>
<p>Telegraf’s plugin architecture supports collection of metrics from 100+ popular services right out of the box.</p>
<p>In our configuration the data is written to the InfluxDB Database.</p>
<p>The main tasks of the service are:</p>
<ul>
<li>Get values for SNMP clients</li>
<li>Get values for services in SSM Host</li>
<li>Get values from Oracle DB with shell scripts</li>
<li>Write values to InfluxDB</li>
</ul>
<h3 id="influxdb">InfluxDB</h3>
<p>InfluxDB is a high performance Time Series Database. It can store hundreds of thousands of points per second. The InfluxDB SQL-like query language was built specifically for time series and is used in special cases.</p>
<p>Basically is used for store the values received from telegraf clients and serve the data to Grafana clients.</p>
<p>The main tasks of the service are:</p>
<ul>
<li>Get values from Telegraf</li>
<li>Store metric values</li>
<li>Give the data to clients</li>
</ul>
<h3 id="grafana">Grafana</h3>
<p>Grafana is a open source visualization and analytics software. It allows you to query, visualize, alert on, and explore our metrics no matter where they are stored. In our configuration reads and write from Zabbix, Oracle DB, MySQL DB, MSSQL DB and InfluxDB sources. It provides us with tools to turn our time-series database (TSDB) InfluxDB data into beautiful graphs and visualizations.</p>
<p>The main tasks of the service are:</p>
<ul>
<li>Get values from InfluxDB</li>
<li>Show dashboards</li>
<li>Send alarms defined by users</li>
<li>Get values from Zabbix</li>
<li>Acknowledge alarms to Zabbix</li>
</ul>
<h3 id="it-services">IT Services</h3>
<p>In the IT services the principal source of data are Oracle DB used by SUSI devices, Adams Service, etc.</p>
<h3 id="passive-hosts">Passive Hosts</h3>
<p>In this category we find equipment that only can be checked by simple protocols like ping, snmp, etc.</p>
<figure>
<img src="image/SSM_Software_Architecture.png" alt="SSM Software Architecture" /><figcaption aria-hidden="true">SSM Software Architecture</figcaption>
</figure>
<h3 id="ssm2">SSM2</h3>
<p>The main work of this server is being a backup and a urgent replacement in case of problems with the main server. Also is used to maintain and do the backups to the central services at CERN to avoid charging this task to the main server.</p>
<h3 id="zabbix-agent">Zabbix Agent</h3>
<p>Zabbix agents are deployed on monitoring targets to actively monitor local resources and applications and report the gathered data to Zabbix server. There are two types of agents available: the Zabbix agent (lightweight, supported on many platforms, written in C) and the Zabbix agent 2 (extra-flexible, easily extendable with plugins, written in Go).</p>
<p>The main tasks are:</p>
<ul>
<li>Get data from own host</li>
<li>Send data actively to proxy or server</li>
<li>Send data by request to proxy or server</li>
</ul>
<h3 id="zabbix-proxy">Zabbix Proxy</h3>
<p>Zabbix proxy are collecting performance and availability data on behalf of Zabbix server. The proxy is an optional part of Zabbix deployment; however, it is very beneficial to distribute the load of our single Zabbix server.</p>
<p>The main tasks are:</p>
<ul>
<li>Get data from Zabbix Agents</li>
<li>Get configuration from Zabbix Server</li>
<li>Send data actively server</li>
<li>Send data by request to server</li>
<li>Get data from own host</li>
</ul>
